<h1>Chats</h1>

<div>
    <% @chats.each do |chat| %>
        <div>
            <%= link_to chat.name, chat_path(chat)%>
        </div>
    <% end %>
</div>

<h2>Create new chat:</h2>
<%= form_with(model: Chat.new, local: true) do |form|%>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.submit "Create" %>
    </div>
<% end %>
