<!DOCTYPE html>
<html>
  <head>
    <title>TestChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-user-id="<%= current_user&.id || 1 %>">
    <audio id="message-sound" preload="auto">
      <source src="<%= asset_path('beep.wav') %>" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <%= yield %>
  </body>
</html>
